<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine on

	#Send request via index.php (again, not if its real file or folder)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	#This last condition enables access to the images and css folders, and the robots.txt file
	RewriteCond $1 !^(index\.php|public|images|robots\.txt|css)

	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
